<br>
<br>
<div class="row">
    <div class="col-sm-4 mx-auto">
        <div class="card shadow mb-4">
            <div class="card-body">
                <h5 style="text-align: center;">Modificaton Mot de passe</h5>
                <div class="alert alert-danger" hidden>
                    <strong>Mot de passe erronés..</strong>
                </div>
                <form>
                    <div class="form-group">
                        <label for="password">Ancien mot de passe</label>
                        <input type="password" id="password" class="form-control" name="password" required>
                    </div><br>
                    <div class="form-group">
                        <label for="password">Nouveau mot de passe</label>
                        <input type="password" id="password" class="form-control" name="password" required>
                    </div><br>
                    <div class="form-group">
                        <label for="password">Confirmer mot de passe</label>
                        <input type="password" id="password" class="form-control" name="password" required>
                    </div><br>
                    <button type="submit" class="btn btn-primary">Enrégistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
